body{
    background-color: #4c4949;
}
h1,h3{
    color: white;
}
.para{
    color: #929191;
    font-style: italic;
    line-height: 1.3;
}
.upper{
    width: 100%;
    display: flex;
}
.upper .inner-one{
    width: 40%;
    margin: 10px 20px;

}
.upper .inner-one img{
    width: 480px;
    border: 5px solid white;
}
.upper .inner-two{
    width: 50%;
    color: #929191;
    margin: 10px 30px;
}
.upper .inner-two p{
    margin: 0;
    line-height: 1.3;
}
.upper .inner-two ul{
    list-style-type: none;
    line-height: 1.5;
}
.upper .inner-two ul li::before{
    content: "\2022";
    color: #e5e2e2;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

