*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #d5b581;
    width: 98%;
}
.upper h1{
    margin: 20px 30px 2px 20px;
}
.upper .line{
    border-top: 5px solid black;
    margin:0 30px 2px 20px;
}
.upper .dash{
    border-top: 2px dashed black;
    margin:0 30px 2px 20px;
}

.middle{
    width: 100%;
    display: flex;
    margin: 20px 30px 10px 20px;
}
.middle .inner-one{
    width: 40%;
}
.middle .inner-one img{
    width: 450px;
    /*height: 300px;*/
    border: 5px solid rgba(239, 229, 226, 0.38);
}
.middle .inner-two{
    width: 55%;
}
.middle .inner-two .para{
    color: white;
    font-style: italic;
    line-height: 1.5;
    margin-bottom: 10px;
}
.middle .inner-two .long-para{
    text-align: justify;
    line-height: 1.5;
}
.middle .inner-two .long-para span{
    color: red;
}

.lower{
    width: 100%;
    display: flex;
    margin: 20px 30px 10px 20px;
}
.lower .inner-one{
    width: 40%;
}
.lower .inner-one h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.lower .inner-one ol{
    margin-left: 30px;
}
.lower .inner-one ol li{
    line-height: 1.5;
    margin-bottom: 6px;
}
.lower .inner-two{
    width: 55%;
}
.lower .inner-two h1{
    margin-top: 20px;
    margin-bottom: 10px;
}
.lower .inner-two .para{
    line-height: 1.5;
    margin-bottom: 10px;
}
.lower .inner-two p{
    margin-bottom: 10px;
    font-style: italic;
}
.lower .inner-two p span{
    color: red;

}